html {
    background-color: #eeeeee;
}

body {
    font-family: "Courier New", monospace;
}

h1 {
    display: flex;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

h3 {
    text-align: center;
}

p {
    font-size: 16px;
}

div.lead-image {
    max-width: 800px;
    width: 100%;
    display: table;
    margin: 0 auto;
}

figcaption.caption {
    display: flex;
    text-align: center;
    margin: 0 auto;
}

.flexbox1 {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
}

.graphs {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

div.caption {
    display: flex;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 12px;
    font-weight: bold;
}

.graph_intro {
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 16px;
    border-style: hidden;
    font-weight: bold;
}